nav a, nav button{
  font-size: 20px !important;
  cursor: pointer;
  padding: 5px;
  width: 2rem;
  height: 2rem;
  transition: .3s;
  border-radius: 50%;
}

nav button.active{
  background-color: #edaa25;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  font-size: 15px !important;
}

nav.bg-gray-700 button.active{
  background-color: rgba(255, 255, 255, 0.108)
}

.darkArticle{
  color: white;
}